<body class = "main">
  <div class="header" style="z-index:100; position: fixed;">
    <h1 class="title">Receipt Parser</h1>
  </div>
  <div class = "content">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" color="accent" animationDuration="500ms">
        <mat-tab label="Demo">
          <div class="body">
            <br><br><br>
            <h2 class="sub">Upload a receipt</h2>
            <app-photo-upload></app-photo-upload>
          </div>
        </mat-tab>
        <mat-tab label="About"> 
          <div class="body">
            <br><br><br><br>
            <span class="numbers">57%</span>
            <span class="sub"> of millennials ask for combined checks when dining out</span>
            <br><br><br><br><br><br>
            <span class="numbers">65%</span>
            <span class="sub"> use cash apps to exchange money between friends</span>
            <br><br><br><br><br>
            <span style="display: inline-block; width: 50%;">
              <h2 class="sub">Why we made it</h2>
              <p class = "text">
                The problem that many face today when going out to eat or splitting any expense is that people don’t always end up paying their fair share.
                We want to make it easier to split bills when you go to restaurants with friends or family.
                <br><br>
                Our receipt parsing application can itemize all of the orders on the receipt and take tax and tip into consideration before determining how much each person owes.
                Such an application for computer vision can extend beyond splitting bills at restaurants and can be used with any expense where a physical receipt is given and would like to be split.
                <br><br> 
              </p>
              <h2 class="sub">How it works</h2>
              <p class = "text">
                First, we need to perform preprocessing on the receipt because the receipt may contain wrinkles, creases, shadows, or other artifacts that would interfere with later analysis.
                Common preprocessing methods that we will employ include noise removal, thresholding, and greyscaling.
                Then we will leverage Optical Character Recognition (OCR) capabilities along with machine learning models to detect and recognize key information on the receipt.  
                This
                <a class = "link" href="https://www.researchgate.net/publication/352009952_The_Study_of_Handwriting_Recognition_Algorithms_Based_on_Neural_Networks">study</a>, provides information and data on the accuracy of a handful of methods including the ones we use.
              </p>
            </span>
            <span style="display: inline-block; width: 50%; text-align: center;">Image here</span>
          </div></mat-tab>
      </mat-tab-group>
    </div>  
</body>


<router-outlet></router-outlet>
